In [2]:
import numpy as np
import pandas as pd

## a) Creating Series

### Series through list

In [2]:
lst = [1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Series through Numpy array

In [4]:
arr = np.array([1,2,3,4,5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Giving Index from our Side

In [6]:
pd.Series(data = ['Sanket', 'Sahil', 'Suyash'], index = [1,2,3])

1    Sanket
2     Sahil
3    Suyash
dtype: object

### Accessing Elements

In [7]:
s = pd.Series([10,20]).repeat([5,2]).reset_index(drop = True)
s

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

In [10]:
s[5]

np.int64(20)

In [11]:
s[2:4]

2    10
3    10
dtype: int64

### b) Aggregate function on pandas Series

In [12]:
sr = pd.Series([10,20,30,40,50,60,100,80])
sr

0     10
1     20
2     30
3     40
4     50
5     60
6    100
7     80
dtype: int64

In [13]:
sr.agg([min,max,sum])

C:\Users\Sanket Kadam\AppData\Local\Temp\ipykernel_13432\3482581389.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  sr.agg([min,max,sum])
C:\Users\Sanket Kadam\AppData\Local\Temp\ipykernel_13432\3482581389.py:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  sr.agg([min,max,sum])
C:\Users\Sanket Kadam\AppData\Local\Temp\ipykernel_13432\3482581389.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  sr.agg([min,max,sum])

min     10
max    100
sum    390
dtype: int64

### c.) Series absolute function

In [14]:
sr = pd.Series([10,-30,40,-80,-100])
sr.abs()

0     10
1     30
2     40
3     80
4    100
dtype: int64

### d) Appending Series

In [17]:
sr1 = pd.Series([1,-2,-3,-4,5])
sr2 = pd.Series([10,30,40,60])

result = pd.concat([sr1, sr2])
print(result)

0     1
1    -2
2    -3
3    -4
4     5
0    10
1    30
2    40
3    60
dtype: int64

## e) asType

In [18]:
sr1.astype('float')

0    1.0
1   -2.0
2   -3.0
3   -4.0
4    5.0
dtype: float64

### f) Between Function

In [19]:
sr1.between(2,5)

0    False
1    False
2    False
3    False
4     True
dtype: bool

### g) All String Functions that can be used to extract or modify texts in a Series

In [20]:
ser = pd.Series(['Sanket Kadam', 'Sahil Kshirsagar', 'Suyash Agre', 'Data Science'])

##### Upper and Lower Function

In [24]:
print(ser.str.upper())
print('-'*20)
print(ser.str.lower())

0        SANKET KADAM
1    SAHIL KSHIRSAGAR
2         SUYASH AGRE
3        DATA SCIENCE
dtype: object
--------------------
0        sanket kadam
1    sahil kshirsagar
2         suyash agre
3        data science
dtype: object

##### Length Function

In [25]:
ser.str.len()

0    12
1    16
2    11
3    12
dtype: int64

##### Strip Function

In [26]:
# will remove unwanted spaces
ser.str.strip()

0        Sanket Kadam
1    Sahil Kshirsagar
2         Suyash Agre
3        Data Science
dtype: object

##### Split Function

In [27]:
# split acc to space
ser.str.split()

0        [Sanket, Kadam]
1    [Sahil, Kshirsagar]
2         [Suyash, Agre]
3        [Data, Science]
dtype: object

##### Contains Function

In [28]:
ser.str.contains("@")

0    False
1    False
2    False
3    False
dtype: bool

##### Replace Function

In [29]:
ser.str.replace('@','')

0        Sanket Kadam
1    Sahil Kshirsagar
2         Suyash Agre
3        Data Science
dtype: object

##### Count Function

In [30]:
ser.str.count('a')

0    3
1    3
2    1
3    2
dtype: int64

##### Startswith and Endswith Function

In [31]:
ser.str.startswith("Sanke")

0     True
1    False
2    False
3    False
dtype: bool

##### Find Function

In [32]:
ser.str.find("Sanket")

0    0
1   -1
2   -1
3   -1
dtype: int64

### h) Converting a Series to List

In [33]:
ser.to_list()

['Sanket Kadam', 'Sahil Kshirsagar', 'Suyash Agre', 'Data Science']

## Dataframe

### a) Creating Data Frames

##### Creating Dataframe using List:

In [34]:
lst = ['Sanket', 'Sahil', 'Suyash', 'Swapnil', 'Pratik']
pd.DataFrame(lst)

         0
0   Sanket
1    Sahil
2   Suyash
3  Swapnil
4   Pratik

In [35]:
lst = [['Sanket',10], ['Sahil', 20], ['Suyash',30]]
pd.DataFrame(lst)

        0   1
0  Sanket  10
1   Sahil  20
2  Suyash  30

##### A DataFrame is a two-dimensional data structures, i.e , data is aligned in tabular fashion in rows and Columns. We can perform basic operations on rows/columns like selecting, deleting, adding, renaming

In [36]:
data = {'one'    : pd.Series([1,2,3,4]),
        'two'    : pd.Series([10,20,30,40]),
        'three'  : pd.Series([100,200,300,400])}

df = pd.DataFrame(data)
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

### b) Slicing DataFrame Using iloc and loc

##### Basic loc Operation

In [37]:
df.loc[1:2]

   one  two  three
1    2   20    200
2    3   30    300

##### Basic iloc Operation

In [39]:
# index Based
df.iloc[1:2]

   one  two  three
1    2   20    200

In [40]:
df.iloc[[0,2]]

   one  two  three
0    1   10    100
2    3   30    300

### c) Slicing Using Conditions

In [41]:
df[df['two'] > 20]

   one  two  three
2    3   30    300
3    4   40    400

In [42]:
# Selecting Columns based on other Column Conditon
df.loc[df['two'] > 20, ['three']]

   three
2    300
3    400

### c) Column Addition in DataFrame

In [43]:
l = [22,33,44,55]
df['four'] = l
df

   one  two  three  four
0    1   10    100    22
1    2   20    200    33
2    3   30    300    44
3    4   40    400    55

### d) Column Deletion in DataFrame

- Using del

In [44]:
del df['four']
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

- Using pop

In [48]:
df.pop('three')

0    100
1    200
2    300
3    400
Name: three, dtype: int64

### f) Pandas drop Function

In [49]:
data = {'one'    : pd.Series([1,2,3,4]),
        'two'    : pd.Series([10,20,30,40]),
        'three'  : pd.Series([100,200,300,400])}

df = pd.DataFrame(data)
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

- axis = 0  -> Rows
- axis = 1  -> Columns

In [50]:
df.drop([0,1],  axis = 0)

   one  two  three
2    3   30    300
3    4   40    400

In [51]:
df.drop(['one', 'three'], axis = 1)

   two
0   10
1   20
2   30
3   40

### g) Transposing a DataFrame

In [52]:
data = {'one'    : pd.Series([1,2,3,4]),
        'two'    : pd.Series([10,20,30,40]),
        'three'  : pd.Series([100,200,300,400])}

df = pd.DataFrame(data)
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

In [53]:
df.T

         0    1    2    3
one      1    2    3    4
two     10   20   30   40
three  100  200  300  400

### h) A set of more DataFrame Functionalities

In [54]:
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

##### 1. axes func

In [56]:
df.axes

[RangeIndex(start=0, stop=4, step=1),
 Index(['one', 'two', 'three'], dtype='object')]

##### 2. ndim funct

In [57]:
df.ndim

2

##### 3.dtypes

In [58]:
df.dtypes

one      int64
two      int64
three    int64
dtype: object

#####  4. shape func

In [59]:
df.shape

(4, 3)

##### 5. head func

In [62]:
df.head(2)

   one  two  three
0    1   10    100
1    2   20    200

##### 6. tail func

In [63]:
df.tail(2)

   one  two  three
2    3   30    300
3    4   40    400

##### 7. empty func

In [64]:
df.empty

False

## Statistical or Mathematical Functions

In [65]:
data = {'one'    : pd.Series([1,2,3,4]),
        'two'    : pd.Series([10,20,30,40]),
        'three'  : pd.Series([100,200,300,400])}

df = pd.DataFrame(data)
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

In [66]:
df.sum()

one        10
two       100
three    1000
dtype: int64

In [67]:
df.mean()

one        2.5
two       25.0
three    250.0
dtype: float64

In [68]:
df.median()

one        2.5
two       25.0
three    250.0
dtype: float64

In [69]:
df.mode()

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

In [70]:
df.var()

one          1.666667
two        166.666667
three    16666.666667
dtype: float64

In [71]:
df.min()

one        1
two       10
three    100
dtype: int64

In [72]:
df.max()

one        4
two       40
three    400
dtype: int64

In [73]:
df.std()

one        1.290994
two       12.909944
three    129.099445
dtype: float64

### j) Describe Function

In [74]:
data = {'one'    : pd.Series([1,2,3,4]),
        'two'    : pd.Series([10,20,30,40]),
        'three'  : pd.Series([100,200,300,400])}

df = pd.DataFrame(data)
df

   one  two  three
0    1   10    100
1    2   20    200
2    3   30    300
3    4   40    400

In [75]:
df.describe()

            one        two       three
count  4.000000   4.000000    4.000000
mean   2.500000  25.000000  250.000000
std    1.290994  12.909944  129.099445
min    1.000000  10.000000  100.000000
25%    1.750000  17.500000  175.000000
50%    2.500000  25.000000  250.000000
75%    3.250000  32.500000  325.000000
max    4.000000  40.000000  400.000000

## Working with csv files and basic data Analysis Using Pandas

### a) Reading csv

In [3]:
df = pd.read_csv("Football.csv")
df

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,NaN,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020

### b) Pandas Info Func

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     626 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB

### c) isnull() func

In [5]:
df.isnull().sum()

Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

### d) Quantile function to get specific percentile value

In [6]:
df.describe(percentiles = [0.80])

,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
count,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000,660.000000
mean,22.371212,3.224242,2071.416667,11.810606,10.089606,0.476167,64.177273,28.365152,2.948015,1.315652,2018.363636
std,9.754658,3.839498,900.595049,6.075315,5.724844,0.192831,34.941622,16.363149,0.914906,0.474239,1.367700
min,2.000000,0.000000,264.000000,2.000000,0.710000,0.070000,5.000000,2.000000,0.800000,0.240000,2016.000000
50%,24.000000,2.000000,2245.500000,11.000000,9.285000,0.435000,62.000000,26.000000,2.845000,1.250000,2019.000000
80%,32.000000,6.000000,2915.800000,15.000000,14.076000,0.610000,90.000000,39.000000,3.600000,1.630000,2020.000000
max,38.000000,26.000000,4177.000000,42.000000,32.540000,1.350000,208.000000,102.000000,7.200000,3.630000,2020.000000

In [7]:
df['Mins'].quantile(0.50)

np.float64(2245.5)

### e) Copy Function

In [9]:
de = df.copy()
de.head(3)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016

### g) Unique and Nuique Function

In [11]:
df['Player Names'].unique()

array(['Juanmi Callejon', 'Antoine Griezmann', 'Luis Suarez',
       'Ruben Castro', 'Kevin Gameiro', 'Cristiano Ronaldo',
       'Karim Benzema', 'Neymar ', 'Iago Aspas', 'Sergi Enrich',
       'Aduriz ', 'Sandro Ramlrez', 'Lionel Messi', 'Gerard Moreno',
       'Morata', 'Wissam Ben Yedder', 'Willian Jose', 'Andone ',
       'Cedric Bakambu', 'Isco', 'Mohamed Salah', 'Gregoire Defrel',
       'Ciro Immobile', 'Nikola Kalinic', 'Dries Mertens',
       'Alejandro Gomez', 'Jose CallejOn', 'Iago Falque',
       'Giovanni Simeone', 'Mauro Icardi', 'Diego Falcinelli',
       'Cyril Thereau', 'Edin Dzeko', 'Lorenzo Insigne',
       'Fabio Quagliarella', 'Borriello ', 'Carlos Bacca',
       'Gonzalo Higuain', 'Keita Balde', 'Andrea Belotti', 'Fin Bartels',
       'Lars Stindl', 'Serge Gnabry', 'Wagner ', 'Andrej Kramaric',
       'Florian Niederlechner', 'Robert Lewandowski', 'Emil Forsberg',
       'Timo Werner', 'Nils Petersen', 'Vedad Ibisevic', 'Mario Gomez',
       'Maximilian Philipp', 'A\x81dam Szalai',
       'Pierre-Emerick Aubameyang', 'Guido Burgstaller', 'Max Kruse',
       'Chicharito ', 'Anthony Modeste', 'Arjen Robben', 'Alexis Sanchez',
       'Romelu Lukaku', 'Harry Kane', 'Jamie Vardy', 'Christian Benteke',
       'Pedro None', 'Eden Hazard', 'Roberto Firmino', 'Sadio Mane',
       'Philippe Coutinho', 'Diego Costa', 'Dele Alli', 'Sergio Aguero',
       'Jermain Defoe', 'Fernando Llorente', 'Michail Antonio',
       'Zlatan Ibrahimovic', 'Olivier Giroud', 'Son Heung-Min',
       'Joshua King', 'Diego Souza', 'Pablo ', 'Robinho ', 'Kempes ',
       'Gabriel Jesus', 'Bruno Rangel ', 'Rogerio ', 'Vitor Bueno',
       'Marinho ', 'Grafite ', 'Andres Chavez', 'Cicero Semedo', 'Sassa',
       'Giorgian de Arrascaeta', 'Keno ', 'Fred ', 'Kleber Gladiador',
       'Pottker ', 'Jonathan Copete', 'Ricardo Oliveira',
       'Angel Rodriguez', 'Gareth Bale', 'Rodrigo None', 'Sergio Leon',
       'Maxi Gomez', 'Mikel Oyarzabal', 'Willian Josa', 'Simone Zaza',
       'Portu ', 'Cristhian Stuani', 'Santi Mina', 'Morales ', 'Munir ',
       'Jose Callejon', 'Sergej Milinkovic-Savic', 'Duvan Zapata',
       'Paulo Dybala', 'Mirco Antenucci', 'Luis Alberto',
       'Roberto Inglese', 'Josip Ilicic', 'Ivan Perisic',
       'Leonardo Pavoletti', 'Kevin Lasagna', 'Niclas Fullkrug',
       'Salomon Kalou', 'Thorgan Hazard', 'Jean-Kevin Augustin',
       'Sandro Wagner ', 'Leon Bailey', 'Daniel Didavi',
       'Alfred Finnbogason', 'Davie Selke', 'Mark Uth',
       'Michael Gregoritsch', 'Julian Brandt', 'Kevin Volland', 'Roger ',
       'Arthur Caike', 'Everton ', 'Hernanes ', 'Luiz Fernando',
       'Wellington Paulista', 'Santiago Trellez', 'Jo', 'Thiago Neves',
       'Bruno Henrique', 'Dudu ', 'Diego ', 'Lucca ', 'Henrique Dourado',
       'Andre', 'Edigar Junio ', 'Junior  Dutra', 'Jaime Mata',
       'Inaki Williams', 'Chimy Avila', 'Raul de Tomas', 'Pablo Sarabia',
       'Borja Iglesias', 'Jorge Molina', 'Charles', 'Arkadiusz Milik',
       'Mandzukic None', 'Andrea Petagna', 'Francesco Caputo',
       'Stephan El Shaarawy', 'Gervinho ', 'Krzysztof Piatek',
       'Alassane Plea', 'Kai Havertz', 'Luka Jovic', 'Ante Rebic',
       'Jadon Sancho', 'Ondrej Duda', 'Paco Alcacer', 'Benito Raman',
       'Wout Weghorst', 'Ishak Belfodil', 'Marco Reus',
       'Jean-Philippe Mateta', 'Sebastien Haller', 'Yussuf Poulsen',
       'Angel Di Maria', 'Remi Oudin', 'Nicolas Pepe', 'Emiliano Sala',
       'Jonathan Bamba', "M'Baye Niang", 'Edinson Cavani',
       'Stephane Bahoken', 'Max Gradel', 'Florian Thauvin',
       'Kylian Mbappe-Lottin', 'Wahbi Khazri', 'Falcao ',
       'Gaetan Laborde', 'Andy Delort', 'Moussa Dembele', 'Memphis Depay',
       'Lebo Mothiba', 'Francois Kamano', 'Luka Milivojevic',
       'Paul Pogba', 'Ashley Barnes', 'Glenn Murray', 'Richarlison ',
       'Callum Wilson', 'Gylfi Sigurdsson', 'Raheem Sterling',
       'Ayoze Perez', 'Alexandre Lacazette', 'Raul Jimenez',
       'Lucas Paqueta', 'Juan Cazares', 'Deyverson ', 'Leandro Damiao ',
       'Yago Pikachu', 'Rodrygo ', 'Andres Rios', 'Roger Guedes ',
       'Leandro Pereira ', 'Pedro ', 'Nico Lupez', 'Nene ', 'Gilberto ',
       'Henrique ', 'Willian ', 'Gabriel Barbosa', 'Diego Rossi',
       'Josef Martinez', 'Chris Wondolowski', 'Nani ', 'Kacper Przybylko',
       'Kei Kamara', 'C.J. Sapong', 'Gyasi Zardes', 'Heber ',
       'Mauro Manotas', 'Brian Fernandez', 'Alejandro Pozuelo',
       'Felipe Gutierrez', 'Jordan Morris', 'Raul Ruidiaz',
       'Jozy Altidore', 'Carlos Vela', 'Nemanja Nikolic',
       'Alexandru Mitrita', 'Joselu', 'Carlos Fernandez', 'Ante Budimir',
       'Lucas Perez', 'Loren Moron', 'Raul Garcla', 'Morata ',
       'Sergio Ramos', 'Lucas Ocampos', 'Cazorla ', 'Pote ',
       'Tiquinho Soares', 'Eduardo Mancha', 'Paulinho ', 'Alex Telles',
       'Bruno Viana', 'Mehrdad Mohammadi', 'Carlos Valenzuela',
       'Ruben Lameiras', 'Moussa Marega', 'Gian-Luca Waldschmidt',
       'Samuel Lino', 'Andre Andre', 'Mehdi Taremi', 'Carlos Vinicius',
       'Sergio Oliveira', 'Douglas Tanque', 'Fabio Abreu',
       'Brayan Riascos', 'Alex Telles ', 'Fabio Martins',
       'Haris  Seferovic', 'Joao Teixeira', 'Bruno Fernandes',
       'Angel Gomes', 'Toni MartÃ\xadnez', 'Pizzi ', 'Bozhidar Kraev',
       'Sandro Lima', 'Rodrigo Pinho', 'Thiago Santana', 'Trincao ',
       'Andraz Sporar', 'Ricardo Horta', 'Bruno Duarte', 'Nuno Santos',
       'Domenico Berardi', 'Joao Pedro', 'Andreas Cornelius',
       'Marco Mancosu', 'Lautaro Martrinez', 'Luis Muriel',
       'Gianluca Lapadula', 'Marcus Thuram', 'Rouwen Hennings',
       'Andre Silva', 'Erling Haaland', 'Jhon Cordoba', 'Robin Quaison',
       'Sebastian Andersson', 'Dimitri Payet', 'Kasper Dolberg',
       'Adrien Thomasson', 'Dario Benedetto', 'Ludovic Ajorque',
       'Islam Slimani', 'Adrien Hunou', 'Denis Bouanga',
       'Sehrou Guirassy', 'Ã\x81ngel Di Maria', 'Habib Diallo',
       'Victor Osimhen', 'Dominic Calvert-Lewin', 'Kevin De Bruyne',
       'Chris Wood', 'Anthony Martial', 'Riyad Mahrez', 'Marcus Rashford',
       'Danny Ings', 'Richarlison  ', 'Teemu Pukki', 'Tammy Abraham',
       'Thiago Galhardo', 'Paolo Guerrero', 'Pepe', 'Michael ',
       'Carlos Sanchez', 'Everaldo ', 'Artur ', 'Marcelo  Cirino',
       'Yeferson Soteldo', 'Eduardo Sasha', 'Rafael Moura', 'Antony None',
       'Quincy Promes', 'Dusan Tadic', 'Armando Broja', 'Steven Berghuis',
       'Michael de Leeuw', 'Lois Openda', 'Danilo Nome', 'Lennart Thy',
       'Donyell Malen', 'Noni Madueke', 'Davy Klaassen',
       'Oussama Tannane', 'Vaclav Cerny', 'Vangelis Pavlidis',
       'Henk Veerman', 'Abdou Harroui', 'Rai Vloet', 'Lassina Traore',
       'Georgios Giakoumakis', 'Alex Pozuelo', 'Kevin Molino',
       'Damir Kreilach', 'Bradley Wright-Phillips', 'Nicolas Lodeiro',
       'Daryl Dike', 'Cristian Pavon', 'Chris Mueller', 'Romell Quioto',
       'Gustavo Bou', 'Robert Beric', 'Ayo Akinola', 'Jeremy Ebobisse',
       'Diego Valeri', 'Youssef   En-Nesyri', 'Carlos Soler',
       'Cristian Tello', 'Esteban Burgos', 'Joao Felix',
       'Federico Valverde', 'Kike GarcIa', 'Ansu Fati', 'Roberto Soriano',
       'Gaetano Castrovilli', 'Henrikh Mkhitaryan', 'Jordan Veretout',
       'Lautaro MartInez', 'Hirving Lozano', 'Lucas Alario', 'Bas Dost',
       'Dani Olmo', 'Ellyes Skhiri', 'Thomas Muller', 'Andre Hahn',
       'Daniel Caligiuri', 'Matheus Cunha', 'Ludovic Blas', 'Karl Toko',
       'Burak Yilmaz', 'Ibrahima Niane', 'Boulaye Dia', 'Moise Kean',
       'Ignatius Ganago', 'Irvin Cardona', 'Wissam Ben', 'Amine Gouiri',
       'Mama Balde', 'Gael Kakuta', 'James Ward-Prowse', 'Diogo Jota',
       'Wilfried Zaha', 'Jack Grealish', 'Jarrod Bowen',
       'Patrick Bamford', 'Danny Ings ', 'Neal Maupay', 'Ollie Watkins',
       'Luciano ', 'Vinicius ', 'Raphael Veiga', 'Luiz Adriano',
       'Cleber ', 'German Cano', 'Brenner None', 'Matheus Babi',
       'Alerrandro ', 'Claudinho ', 'Robson', 'Renato Kayzer',
       'Donny van de Beek', 'Teun Koopmeiners', 'Cantalapiedra ',
       'Bryan Linssen', 'Matavz ', 'Oussama Idrissi', 'Chidera Ejuke',
       'Myron Boadu', 'Klaas-Jan Huntelaar', 'Haris Vuckic',
       'Gyrano Kerk', 'Denzel Dumfries', 'Cyriel Dessers ', 'Cody Gakpo'],
      dtype=object)

In [12]:
df['Player Names'].nunique()

444

### h) dropna() func

In [13]:
df.isnull().sum()

Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

In [16]:
df.dropna(inplace = True)

In [17]:
df.isnull().sum()

Country                    0
League                     0
Club                       0
Player Names               0
Matches_Played             0
Substitution               0
Mins                       0
Goals                      0
xG                         0
xG Per Avg Match           0
Shots                      0
OnTarget                   0
Shots Per Avg Match        0
On Target Per Avg Match    0
Year                       0
dtype: int64

### i) Fillna func

In [18]:
df = pd.read_csv("Football.csv")
df

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,NaN,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020

In [19]:
df.isnull().sum()

Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

## Pandas Profile Report

In [24]:
!pip install pandas-profiling

Collecting pandas-profiling
  Using cached pandas_profiling-3.2.0-py2.py3-none-any.whl.metadata (21 kB)
Collecting joblib~=1.1.0 (from pandas-profiling)
  Using cached joblib-1.1.1-py2.py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (1.14.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (2.2.2)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (3.9.2)
Collecting pydantic>=1.8.1 (from pandas-profiling)
  Using cached pydantic-2.8.2-py3-none-any.whl.metadata (125 kB)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (6.0.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (3.1.4)
Requirement already satisfied: markupsafe~=2.1.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (2.1.5)
Collecting visions==0.7.4 (from visions[type_image_path]==0.7.4->pandas-profiling)
  Using cached visions-0.7.4-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (2.1.0)
Collecting htmlmin>=0.1.12 (from pandas-profiling)
  Using cached htmlmin-0.1.12.tar.gz (19 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting missingno>=0.4.2 (from pandas-profiling)
  Using cached missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Collecting phik>=0.11.1 (from pandas-profiling)
  Using cached phik-0.12.4-cp312-cp312-win_amd64.whl.metadata (5.6 kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas-profiling)
  Using cached tangled_up_in_unicode-0.2.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: requests>=2.24.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (2.32.3)
Collecting tqdm>=4.48.2 (from pandas-profiling)
  Using cached tqdm-4.66.5-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas-profiling) (0.13.2)
Collecting multimethod>=1.4 (from pandas-profiling)
  Using cached multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling) (24.2.0)
Collecting networkx>=2.4 (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling)
  Using cached networkx-3.3-py3-none-any.whl.metadata (5.1 kB)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas-profiling)
  Using cached ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: Pillow in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (10.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2024.1)
Collecting annotated-types>=0.4.0 (from pydantic>=1.8.1->pandas-profiling)
  Using cached annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.20.1 (from pydantic>=1.8.1->pandas-profiling)
  Downloading pydantic_core-2.20.1-cp312-none-win_amd64.whl.metadata (6.7 kB)
Collecting typing-extensions>=4.6.1 (from pydantic>=1.8.1->pandas-profiling)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2024.7.4)
Requirement already satisfied: colorama in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.7.0)
Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
   ---------------------------------------- 0.0/262.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/262.6 kB ? eta -:--:--
   --------- ----------------------------- 61.4/262.6 kB 825.8 kB/s eta 0:00:01
   ----------------------- ---------------- 153.6/262.6 kB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 225.3/262.6 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 262.6/262.6 kB 1.2 MB/s eta 0:00:00
Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
   ---------------------------------------- 0.0/4.7 MB ? eta -:--:--
   - -------------------------------------- 0.1/4.7 MB 4.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/4.7 MB 3.0 MB/s eta 0:00:02
   -- ------------------------------------- 0.3/4.7 MB 2.7 MB/s eta 0:00:02
   --- ------------------------------------ 0.5/4.7 MB 2.8 MB/s eta 0:00:02
   ---- ----------------------------------- 0.6/4.7 MB 2.5 MB/s eta 0:00:02
   ------ --------------------------------- 0.7/4.7 MB 2.7 MB/s eta 0:00:02
   ------- -------------------------------- 0.9/4.7 MB 2.7 MB/s eta 0:00:02
   -------- ------------------------------- 1.0/4.7 MB 2.7 MB/s eta 0:00:02
   --------- ------------------------------ 1.1/4.7 MB 2.8 MB/s eta 0:00:02
   ----------- ---------------------------- 1.3/4.7 MB 2.9 MB/s eta 0:00:02
   ------------ --------------------------- 1.4/4.7 MB 2.8 MB/s eta 0:00:02
   ------------- -------------------------- 1.6/4.7 MB 2.9 MB/s eta 0:00:02
   -------------- ------------------------- 1.7/4.7 MB 2.8 MB/s eta 0:00:02
   --------------- ------------------------ 1.9/4.7 MB 2.9 MB/s eta 0:00:01
   ----------------- ---------------------- 2.0/4.7 MB 3.0 MB/s eta 0:00:01
   ------------------ --------------------- 2.2/4.7 MB 3.1 MB/s eta 0:00:01
   -------------------- ------------------- 2.4/4.7 MB 3.1 MB/s eta 0:00:01
   ---------------------- ----------------- 2.6/4.7 MB 3.1 MB/s eta 0:00:01
   ----------------------- ---------------- 2.8/4.7 MB 3.2 MB/s eta 0:00:01
   ------------------------ --------------- 2.9/4.7 MB 3.1 MB/s eta 0:00:01
   ------------------------- -------------- 3.1/4.7 MB 3.2 MB/s eta 0:00:01
   -------------------------- ------------- 3.2/4.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------- ----------- 3.4/4.7 MB 3.2 MB/s eta 0:00:01
   ------------------------------ --------- 3.6/4.7 MB 3.3 MB/s eta 0:00:01
   ------------------------------ --------- 3.7/4.7 MB 3.2 MB/s eta 0:00:01
   -------------------------------- ------- 3.9/4.7 MB 3.3 MB/s eta 0:00:01
   --------------------------------- ------ 4.0/4.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 4.1/4.7 MB 3.2 MB/s eta 0:00:01
   ------------------------------------ --- 4.3/4.7 MB 3.2 MB/s eta 0:00:01
   ------------------------------------- -- 4.4/4.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  4.7/4.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  4.7/4.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 4.7/4.7 MB 3.2 MB/s eta 0:00:00
Downloading visions-0.7.4-py3-none-any.whl (102 kB)
   ---------------------------------------- 0.0/102.4 kB ? eta -:--:--
   ---------------------------------------- 102.4/102.4 kB 2.0 MB/s eta 0:00:00
Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
   ---------------------------------------- 0.0/309.8 kB ? eta -:--:--
   --------------- ------------------------ 122.9/309.8 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------  307.2/309.8 kB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 309.8/309.8 kB 3.2 MB/s eta 0:00:00
Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading phik-0.12.4-cp312-cp312-win_amd64.whl (666 kB)
   ---------------------------------------- 0.0/666.4 kB ? eta -:--:--
   ---------- ---------------------------- 174.1/666.4 kB 10.9 MB/s eta 0:00:01
   ----------------- ---------------------- 286.7/666.4 kB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 491.5/666.4 kB 4.4 MB/s eta 0:00:01
   -------------------------------------- - 634.9/666.4 kB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 666.4/666.4 kB 3.5 MB/s eta 0:00:00
Downloading pydantic-2.8.2-py3-none-any.whl (423 kB)
   ---------------------------------------- 0.0/423.9 kB ? eta -:--:--
   ----------- ---------------------------- 122.9/423.9 kB 2.4 MB/s eta 0:00:01
   ---------------------------- ----------- 307.2/423.9 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 423.9/423.9 kB 3.3 MB/s eta 0:00:00
Downloading pydantic_core-2.20.1-cp312-none-win_amd64.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.9 MB 5.8 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/1.9 MB 3.7 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/1.9 MB 4.0 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.9 MB 3.3 MB/s eta 0:00:01
   -------------- ------------------------- 0.7/1.9 MB 3.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.9 MB 3.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/1.9 MB 3.0 MB/s eta 0:00:01
   --------------------- ------------------ 1.0/1.9 MB 3.1 MB/s eta 0:00:01
   -------------------------- ------------- 1.3/1.9 MB 3.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.3/1.9 MB 3.0 MB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.9 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 1.7/1.9 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 2.9 MB/s eta 0:00:00
Downloading tqdm-4.66.5-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.4 kB ? eta -:--:--
   ---------------------------------------- 78.4/78.4 kB 2.2 MB/s eta 0:00:00
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading networkx-3.3-py3-none-any.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   - -------------------------------------- 0.1/1.7 MB 3.8 MB/s eta 0:00:01
   ------ --------------------------------- 0.3/1.7 MB 5.7 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/1.7 MB 2.8 MB/s eta 0:00:01
   ----------- ---------------------------- 0.5/1.7 MB 3.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.7/1.7 MB 3.5 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.7 MB 3.1 MB/s eta 0:00:01
   ------------------------ --------------- 1.0/1.7 MB 3.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.1/1.7 MB 3.2 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.7 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 1.4/1.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.5/1.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.5/1.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 1.5/1.7 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 2.8 MB/s eta 0:00:00
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
   ---------------------------------------- 0.0/296.5 kB ? eta -:--:--
   ---------------- ----------------------- 122.9/296.5 kB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 235.5/296.5 kB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 296.5/296.5 kB 2.6 MB/s eta 0:00:00
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (pyproject.toml): started
  Building wheel for htmlmin (pyproject.toml): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27091 sha256=b04ee5e44e157e498e229bfb6b2bd0fa7fdca86f2f902fdb161913c5d71596e4
  Stored in directory: c:\users\sanket kadam\appdata\local\pip\cache\wheels\5f\d4\d7\4189b07b5902ee9f3ce0dbb14909fbe8037c39d6c63ffd49c9
Successfully built htmlmin
Installing collected packages: htmlmin, typing-extensions, tqdm, tangled-up-in-unicode, networkx, multimethod, joblib, annotated-types, pydantic-core, imagehash, visions, pydantic, phik, missingno, pandas-profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.4.2
    Uninstalling joblib-1.4.2:
      Successfully uninstalled joblib-1.4.2
Successfully installed annotated-types-0.7.0 htmlmin-0.1.12 imagehash-4.3.1 joblib-1.1.1 missingno-0.5.2 multimethod-1.12 networkx-3.3 pandas-profiling-3.2.0 phik-0.12.4 pydantic-2.8.2 pydantic-core-2.20.1 tangled-up-in-unicode-0.2.0 tqdm-4.66.5 typing-extensions-4.12.2 visions-0.7.4

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-learn 1.5.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
!pip install pydantic==1.10.2

Collecting pydantic==1.10.2
  Downloading pydantic-1.10.2-py3-none-any.whl.metadata (140 kB)
     ---------------------------------------- 0.0/140.0 kB ? eta -:--:--
     ---------------------------------------- 0.0/140.0 kB ? eta -:--:--
     ----- ---------------------------------- 20.5/140.0 kB ? eta -:--:--
     ------------- ----------------------- 51.2/140.0 kB 525.1 kB/s eta 0:00:01
     --------------------------------- ---- 122.9/140.0 kB 1.0 MB/s eta 0:00:01
     ------------------------------------ 140.0/140.0 kB 920.3 kB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\sanket kadam\appdata\local\programs\python\python312\lib\site-packages (from pydantic==1.10.2) (4.12.2)
Downloading pydantic-1.10.2-py3-none-any.whl (154 kB)
   ---------------------------------------- 0.0/154.6 kB ? eta -:--:--
   ---------------------------------------- 154.6/154.6 kB 4.7 MB/s eta 0:00:00
Installing collected packages: pydantic
  Attempting uninstall: pydantic
    Found existing installation: pydantic 2.8.2
    Uninstalling pydantic-2.8.2:
      Successfully uninstalled pydantic-2.8.2
Successfully installed pydantic-1.10.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pydantic-settings 2.4.0 requires pydantic>=2.7.0, but you have pydantic 1.10.2 which is incompatible.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [31]:
import pandas_profiling as pp
import matplotlib

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.8/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.8/u/import-error

In [32]:
df = pd.read_csv("Football.csv")
df

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016
2,Spain,La Liga,(ATL),Luis Suarez,34,1,2940,28,23.21,0.75,120,57,3.88,1.84,2016
3,Spain,La Liga,(CAR),Ruben Castro,32,3,2842,13,14.06,0.47,117,42,3.91,1.40,2016
4,Spain,La Liga,(VAL),Kevin Gameiro,21,10,1745,13,10.65,0.58,50,23,2.72,1.25,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Netherlands,Eredivisie,(UTR),Gyrano Kerk,24,0,2155,10,7.49,0.33,50,18,2.20,0.79,2020
656,Netherlands,Eredivisie,(AJA),Quincy Promes,18,2,1573,12,9.77,0.59,56,30,3.38,1.81,2020
657,Netherlands,Eredivisie,(PSV),Denzel Dumfries,25,0,2363,7,5.72,0.23,45,14,1.81,0.56,2020
658,Netherlands,Eredivisie,NaN,Cyriel Dessers,26,0,2461,15,14.51,0.56,84,43,3.24,1.66,2020
659,Netherlands,Eredivisie,(PSV),Cody Gakpo,14,11,1557,7,4.43,0.27,38,15,2.32,0.92,2020

In [33]:
report = pp.ProfileREport(df)

NameError: name 'pp' is not defined

In [ ]:
report